
/* start login_main */ 
#login_main{
    width: 100%;
    height: 505px;
    position: relative;
    img{
        width: 100%;
        height: 505px;
    }
    .mem_logbox{
        position: absolute;
        top: 235px;
        left: 1035px;
    }
}

/* end login_main */ 